.ContortedImage {
  transform: rotate(-8deg);
  transform-origin: top left;
  width: 89%;
  box-shadow: 0px 5px 20px rgba(0,0,0,.4);
  border-bottom: 10px solid $black;
  position: relative;
  top: 1rem;

  &-body {
    text-align: right;
    position: relative;
    top: -3rem;
    padding-right: 4rem;
    color: $coral;
  }
}
