.Footer {
  background-color: $coral;
  color: $white;
  padding: 2rem;

  &-linkBucket {
    width: 900px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-content: start;
    color: $yellow;
  }

  &-logo {
    width: 250px;
  }

  &-link,
  &-yellow,
  &-white {
    color: $white;
    text-decoration: none;
    padding-bottom: 0.5rem;
    display: inline-block;
    font-size: $base-font;
  }

  &-yellow {
    color: $yellow;
  }
  &-link &-yellow {
    padding-bottom: 0;
  }
}
