.Heading {
  color: $coral;
  font-weight: 800;
  font-size: $heading-font;
  border-bottom: $thick-border solid $white;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;

  &-secondary {
    margin: 0 0 0.5rem;
    color: $black;
    font-weight: 800;
  }
}
