.LogoBar {
  background-color: $yellow;
  height: $logo-height - 2px;
  margin: 0;
  border-top: $border-height solid $white;
  overflow: hidden;

  &-body {
    background-color: $white;
    width: $page-width;
    margin: 0 auto;
    height: $logo-height;
  }

  &-logo {
    margin: 1.25rem 2rem;
    width: 300px;
  }
}
