.MainContent {
  box-sizing: border-box;
  width: ($page-width / 8) * 6;
  padding: 0 2rem;

  &-content {
    width: (($page-width / 8) * 6) * (5/6);
  }
  
  &-date {
    color: $coral;
    margin: 0.5rem 0;
  }

  &-issue {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &-issueSidebar {
    padding-left: 2rem;
  }

  &-issueImage {
    width: 140px;
  }

  &-more,
  &-less {
    color: $coral;
    cursor: pointer;
  }

  &-issue.is-open &-more,
  &-issue .is-hidden {
    display: none;
  }

  &-issue.is-open .is-hidden {
    display: block;
  }

  &-barrier {
    border-top: 2px solid $white;
    padding-top: 2rem;
    margin-top: 1rem;
  }
    
  &-copy {
    margin-top: 0.5rem;
  }

  .is-hidden {
    display: none;
  }
}

