.Navigation {
  background-color: $coral;
  height: $navigation-height;
  margin: $border-height 0 0;
  border-bottom: $border-height solid $white;

  &-body {
    width: $page-width;
    margin: 0 auto;
  }

  &-list {
    padding: 0;
    margin: 0;
  }

  &-listItem {
    list-style-type: none;
    display: inline;
  }

  &-link {
    color: $white;
    text-decoration: none;
    height: $navigation-height;
    align-items: center;
    display: inline-flex;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: $base-font;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  &-link.is-active {
    background-color: $yellow;
    border-bottom: 0.5rem $yellow solid;
    color: $black;
  }
}
