---
title: Articles & White Papers
layout: base.pug
menuItem: 'articles white papers'
---

.MainContent-issue(id='alf-auto-loading')
  .MainContent-issueBody
    h2(class='Heading-secondary') YAMAHA Launches Revolutionary ALF Auto-Loading Feeder
    p(class='MainContent-date') Issue 1 | Sunday, February 18th, 2018
    div 
      p(class='MainContent-copy') Kennesaw, Georgia, USA – Yamaha Motor Corporation, USA announces the launch of ALF, the auto-loading feeder that revolutionizes feeding tape components by eliminating reliance on user skill. With ALF, any operator can easily supply tape components by merely inserting the tape itself without the need for splicing or complex routing of the tape throught the feeder, and all without stopping the machine or interrupting production.
        span(class='MainContent-ellipse') ..
        a(class='MainContent-more', href='./issues/yamaha-launches-revolutionary-alf-auto-loading-feeder.html') read more
      