---
title: Contact
layout: base.pug
menuItem: 'contact'
---
.MainContent-box
  img(src='./assets/ron.png', class='MainContent-personImage')
  strong Ron Friedman
  br
  em Publisher
  br
  a(href='mailto:ron@seasiaems.com') ron@seasiaems.com
  br
  span 1-860-523-1105
