---
title: Current Issue
layout: home.pug
menuItems: [
  { name: 'YAMAHA', link: '#alf-auto-loading' },
  { name: 'foo', link: '#test' },
  { name: 'foo', link: '#test' }
]
menuItem: 'current issue'
---

.MainContent-issue(id='alf-auto-loading')
  .MainContent-issueBody
    h2(class='Heading-secondary') YAMAHA Launches Revolutionary ALF Auto-Loading Feeder
    p(class='MainContent-date') Issue 123 | Sunday, February 18th, 2018
    div 
      p(class='MainContent-copy') Kennesaw, Georgia, USA – Yamaha Motor Corporation, USA announces the launch of ALF, the auto-loading feeder that revolutionizes feeding tape components by eliminating reliance on user skill. With ALF, any operator can easily supply tape components by merely inserting the tape itself without the need for splicing or complex routing of the tape throught the feeder, and all without stopping the machine or interrupting production.
        span(class='MainContent-ellipse') ...
        a(class='MainContent-more')  read more
        span(class='is-hidden') adlcaslkm laksmlskmdcasldkmc salckmsdlckmasd aslckmasdlkmc
      p(class='is-hidden') Yamaha’s unique center-open system, which eliminates the need to remove the top tape, reduces pickup errors that can result due to static peeling charge and tape dust. Yamaha’s exclusive tape-setting mechanism, designed to extend toward the operator, dramatically simplifies tape loading.  Additionally, a feature that allows two reels to be set at once on the feeder greatly facilitates ease-of-use for the operator by allowing a reload of the feeder regardless of the number of components on the active reel.
      p(class='is-hidden') To find out more, visit the Yamaha booth #2333 at APEX, or #[a(href='http://www.yamaha-motor-im.com', target='_blank') visit www.yamaha-motor-im.com]. Contact George Babka at Yamaha Motor Corporation, USA tel. + 619.301.5802; E-mail: #[a(href='mailto:george_babka@yamaha-motor.com') george_babka@yamaha-motor.com.]
      p(class='is-hidden') #[strong(class='MainContent-emphasis') About Yamaha Motor USA] Yamaha Motor Corporation, USA is a subdivision of Yamaha Motor Corporation, and has employed its core technologies in the areas of servo-motor control and image recognition technology for vision (camera) systems to develop solder paste printers, printed circuit board inspection machines, flip chip hybrid placers and dispensers. Yamaha Motor Corporation USA offers a full line of machines for electric/electronic parts mounting and other production-line solutions to answer the diversifying needs of today’s electronics manufacturers. Yamaha Motor Corporation, USA has sales and service offices in Japan, China, Southeast Asia, Europe and North America, providing a truly global sales and service network, delivering best in class on-site sales and service support for their customers.
      a(class='MainContent-less is-hidden') read less 
  .MainContent-issueSidebar
    img(src='./assets/alf.jpg', class='MainContent-issueImage')
.MainContent-barrier
.MainContent-issue
  .MainContent-issueBody
    h2(class='Heading-secondary') Similique Sunt in Culpa
    p(class='MainContent-date') Issue 123 | Wednesday, January 17th, 2018
    div 
      p(class='MainContent-copy') At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupidvoluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laharum quidem rerum facilis 
        span(class='MainContent-ellipse') ...
        a(class='MainContent-more')  read more
        span(class='is-hidden') adlcaslkm laksmlskmdcasldkmc salckmsdlckmasd aslckmasdlkmc
      p(class='is-hidden') mosakdc asdlkcmasdlkc asdlkmc Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusd
      a(class='MainContent-less is-hidden') read less 
  .MainContent-issueSidebar
    img(src='./assets/fake-home.png', class='MainContent-issueImage')
.MainContent-barrier(id="test")
.MainContent-issue
  .MainContent-issueBody
    h2(class='Heading-secondary') Similique Sunt in Culpa
    p(class='MainContent-date') Issue 123 | Wednesday, January 17th, 2018
    div 
      p(class='MainContent-copy') At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupidvoluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laharum quidem rerum facilis 
        span(class='MainContent-ellipse') ...
        a(class='MainContent-more')  read more
        span(class='is-hidden') adlcaslkm laksmlskmdcasldkmc salckmsdlckmasd aslckmasdlkmc
      p(class='is-hidden') mosakdc asdlkcmasdlkc asdlkmc Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusd
      a(class='MainContent-less is-hidden') read less 
  .MainContent-issueSidebar
    img(src='./assets/fake-home.png', class='MainContent-issueImage')
