---
title: Current Issue
layout: home.pug
menuItems: [
  { name: 'foo', link: '#test' },
  { name: 'foo', link: '#test' },
  { name: 'foo', link: '#test' }
]
---

.MainContent-issue
  .MainContent-issueBody
    h2(class='Heading-secondary') Similique Sunt in Culpa
    p(class='MainContent-date') Issue 123 | Wednesday, January 17th, 2018
    div 
      p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis 
        span(class='MainContent-ellipse') ...
        a(class='MainContent-more') more
        span(class='is-hidden') adlcaslkm laksmlskmdcasldkmc salckmsdlckmasd aslckmasdlkmc
        p(class='is-hidden') mosakdc asdlkcmasdlkc asdlkmc Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusd
        a(class='MainContent-less') less 
  .MainContent-issueSidebar
    img(src='./assets/fake-home.png', class='MainContent-issueImage')

.MainContent-issue.MainContent-barrier
  .MainContent-issueBody
    h2(class='Heading-secondary') Similique Sunt in Culpa
    p(class='MainContent-date') Issue 123 | Wednesday, January 17th, 2018
    div 
      p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis 
        span(class='MainContent-ellipse') ...
        a(class='MainContent-more') more
        span(class='is-hidden') adlcaslkm laksmlskmdcasldkmc salckmsdlckmasd aslckmasdlkmc
        p(class='is-hidden') mosakdc asdlkcmasdlkc asdlkmc Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusd
        a(class='MainContent-less') less 
  .MainContent-issueSidebar
    img(src='./assets/fake-home.png', class='MainContent-issueImage')
