footer(class='Footer')
  .Footer-linkBucket
    .Footer-column
      a(href='/index.html')
        img(class='Footer-logo', src='/assets/footer-logo.png')
    .Footer-column
      a(class='Footer-link', href='/about.html') About Us
      br
      a(class='Footer-link', href='/contact.html') Contact
    .Footer-column
      a(class='Footer-link', href='/about.html') f #[span(class='Footer-yellow') Facebook]
      br
      a(class='Footer-link', href='/contact.html') L #[span(class='Footer-yellow') LinkedIn]
    .Footer-column
      span(class='Footer-yellow') Joing out email list:
    .Footer-column
      span.Footer-white Ronald Friedman, Publisher
      br
      a(class='Footer-link', href='mailto:ron@seasiaems.com') #[span(class='Footer-yellow') ron@seasiaems.com]
      br
      span(class='Footer-yellow') 1-800-523-1105
      br
      a(class='Footer-link', href='http://seasisems.com') #[span(class='Footer-yellow') www.seAsiaEMS.com]