.Periphery
  a(href='', target='_blank', class='Periphery-link')
    img(src='/assets/btu.gif', class='Periphery-image')
  a(href='', target='_blank', class='Periphery-link')
    img(src='/assets/semicon.png', class='Periphery-image')