.Periphery
  a(href='', target='_blank', class='Periphery-link')
    img(src='./assets/fake-ad.png', class='Periphery-image')
  a(href='', target='_blank', class='Periphery-link')
    img(src='./assets/fake-ad.png', class='Periphery-image')
  a(href='', target='_blank', class='Periphery-link')
    img(src='./assets/fake-ad.png', class='Periphery-image')
  a(href='', target='_blank', class='Periphery-link')
    img(src='./assets/fake-ad.png', class='Periphery-image')