ul(class="Navigation-list")
  li(class='Navigation-listItem')
    a(class='Navigation-link', href='./index.html') current issue
  li(class='Navigation-listItem')
    a(class='Navigation-link', href='./about.html') about
  li(class='Navigation-listItem') 
    a(class='Navigation-link', href='./issues.html') issues
  li(class='Navigation-listItem') 
    a(class='Navigation-link', href='./media-kit.html') media kit
  li(class='Navigation-listItem') 
    a(class='Navigation-link', href='./videos.html') videos
  li(class='Navigation-listItem') 
    a(class='Navigation-link', href='./articles-white-papers.html') articles & white papers
  li(class='Navigation-listItem') 
    a(class='Navigation-link', href='./contact.html') contact us
