.Periphery
  a(href='', target='_blank', class='Periphery-link')
    img(src='./assets/yxl.jpg', class='Periphery-image')
  a(href='', target='_blank', class='Periphery-link')
    img(src='./assets/metcal.gif', class='Periphery-image')

  