// colors
$yellow: #ffc734;
$coral: #fd2f18;
$white: white;
$black: #222;

// measures
$page-width: 1080px;
$navigation-height: 60px;
$logo-height: 100px;
$border-height: 0.4rem;
$thick-border: 4px;

// assets
$background: '../assets/ems-bkgr.jpg';

// fonts
$base-font: 13px;
$heading-font: 28px;