extends base.pug

block content
  .SidebarLayout
    block menu
      .Menu
        ul(class='Menu-list')
          each item in menuItems
            li(class='Menu-listItem')
              a(class='Menu-link', href=item.link)= item.name
    include ../partials/main-content.pug
  


  
